/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  /*background-image: url("background.jpg");*/
  /*background-position: center;*/
  /*background-size: cover;
  background-attachment: fixed;*/
  margin: 0;
  /* font-family: 'Palatino'; */
  font-family: 'Ubuntu';
}

#root {
  height: calc(100% - 50px)
}

#app, #main-pane, #column-flex-container {
  height: 100%;
}

#navbar {
  padding: 0;
  background: #81ACD2;
  /* color: #fff; */
  /* border-bottom: 1px solid #51728E; */
  display: flex;
  position: sticky;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  color: white;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 2px solid #51728E; */
  /* font-weight: 700; */
  padding: 10px 10px;
  /* background-color: #658FB3; */
  background: linear-gradient(to right, #51728E, #81ACD2);
  white-space: nowrap;
}

#login-form {
  display: flex;
  justify-content: flex-end;
  /* padding: 0px 0px 0px 20px; */
  margin: 0;
}

#login-form > div {
  padding-right: 10px;
}

#navbar-right-container {
  display: flex;
  align-items: center;
}

#navbar-right-container > div {
  display: flex;
}

#navbar-right {
  justify-content: flex-end;
  padding-right: 10px;
}

#login-error {
  text-align: left;
  padding-right: 10px;
}

#login-logout {
  justify-content: center;
  align-items: center;
  /* border-left: 2px solid #51728E; */
  padding: 0px 10px;
  height: 50px;
  width: 64px;
}

#login-logout:hover {
  /* background-color: #658FB3; */
  background: linear-gradient(to left, #51728E, #81ACD2);
  cursor: pointer;
}

#signup {
  padding: 14px;
  display: block;
  float: right;
  color: #81ACD2;
}

#signup-button-toggle:hover {
  color: #51728E;
  cursor: pointer;
}

#signup-form {
  text-align: right;
}

#splash-message {
  color: #81ACD2;
  padding: 14px;
}

#column-flex-container {
  display: flex;
}

#list-pane {
  overflow: scroll;
  width: 33%;
  border-right: 1px solid #C8D8E6;
  min-width: 250px;
}

h2 {
  margin: 5px 0px;
  padding-left: 5px;
}

#new-conversation-button {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: fixed;
  bottom: 0px;
  left: 0px; */
  /* height: 45px; */
  width: 100%;
  min-width: 250px;
  padding: 10px 5px;
  background-color: #FEFEFE;
}

#new-conversation-button:hover {
  cursor: pointer;
  background: linear-gradient(to right, #D2DFEA, #FEFEFE);
}

#read-write-pane {
  overflow: scroll;
  width: 66%;
  margin-left: 10px;
}

#new-conversation {
  padding: 0px 10px 10px 10px;
}

.Conversation {
  padding: 5px 0px;
}

.ConversationCardContents {
  padding: 5px;
}

.ActiveConversation {
  padding: 5px 0px;
  background: linear-gradient(to right, #81ACD2, #FEFEFE);
}

.Conversation:hover {
  background: linear-gradient(to right, #D2DFEA, #FEFEFE);
  cursor: pointer;
}

.ActiveConversation:hover {
  cursor: pointer;
}

.ConversationDate {
  font-size: 9pt;
}

.Message {
  display: flex;
  padding: 10px;
  align-items: center;
}

.MessageData {
  min-width: 128px;
}

.MessageDate {
  font-size: 9pt;
}

#compose-reply {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#reply-label {
  min-width: 30%;
  max-width: 30%;
  text-align: center;
}

.MessageText {
  height: 60px;
  min-width: 95%;
  max-width: 95%;
  /* border-radius: 4px; */
  font-family: 'Ubuntu';
  font-size: 12pt;
  background: linear-gradient(to right, #D2DFEA, #FEFEFE);
  border: none;
}

#NewMessageText {
  height: 60px;
  min-width: 95%;
  max-width: 95%;
  /* border-radius: 0px 0px 4px 4px; */
  font-family: 'Ubuntu';
  font-size: 12pt;
  background: linear-gradient(to right, #D2DFEA, #FEFEFE);
  border: none;
}

#to-input {
  height: 25px;
  min-width: 95%;
  max-width: 95%;
  /* border-radius: 4px 4px 0px 0px; */
  font-family: 'Ubuntu';
  font-size: 12pt;
  background: linear-gradient(to right, #D2DFEA, #FEFEFE);
  border: none;
  border-bottom: 1px solid #C8D8E6;
}

#subject-input {
  height: 25px;
  min-width: 95%;
  max-width: 95%;
  /* border-radius: 4px; */
  font-family: 'Ubuntu';
  font-size: 12pt;
  background: linear-gradient(to right, #D2DFEA, #FEFEFE);
  border: none;
  border-bottom: 1px solid #C8D8E6;
}

#subject-input:focus, #to-input:focus, #NewMessageText:focus, .MessageText:focus {
  outline: none;
}

#new-conversation-bg {
  background: linear-gradient(to right, #D2DFEA, #FEFEFE)
}

textarea, input {
  padding: 5px;
}
